<h1 style="text-align: center;">Nicholas R. Hasson</h1>

<p style="text-align: center;">
  Email: <a href="mailto:nhasson@alaska.edu">nhasson@alaska.edu</a><br>
  Phone: <a href="tel:+13603058188">+1 206 512 7979</a><br>
  Web: <a href="https://nick.permafrost/">nick.permafrost</a>
</p>

<h2 id="education">Education</h2>
<p><strong>University of Alaska Fairbanks (UAF)</strong> | <em>Fairbanks, AK</em> | May 2024 (expected)<br />
Ph.D. in Geology</p>
<p><strong>University of Alaska Fairbanks</strong> | <em>Fairbanks, AK</em> | May 2020<br />
B.A. <em>Earth Science</em>concentration Earth Systems Science; minor in Political Science</p>
<p><strong>School for International Training</strong> | <em>Jaipur, Rajasthan, India</em> | August 2015–December 2015<br />
Sustainable Development and Social Change program</p>
<h2 id="research-experience">Research Experience</h2>
<p><strong>Institute of Northern Engineering</strong> | <em>Fairbanks, AK</em> | August 2020–present<br />
Graduate Research Assistant</p>
<p><strong>UAF Geophysical Institute</strong> | <em>Fairbanks, AK</em> | October 2018–present<br />
Student Assistant/Admin/Technician</p>
<h2 id="publications">Publications</h2>
<p><strong>Toney, L. D.</strong>, Fee, D., Allstadt, K. E., Haney, M., &amp; Matoza, R. S. (in review). Reconstructing the dynamics of the highly-similar May 2016 and June 2019 Iliamna Volcano, Alaska ice–rock avalanches from seismoacoustic data. <em>Earth Surface Dynamics Discussions</em>. <a href="https://doi.org/10.5194/esurf-2020-47">https://doi.org/10.5194/esurf-2020-47</a></p>
<p><strong>Toney, L. D.</strong>, Abbott, R. E., Preston, L. A., Tang, D. G., Finlay, T., &amp; Phillips-Alonge, K. (2019). Joint body- and surface-wave tomography of Yucca Flat, Nevada using a novel seismic source. <em>Bulletin of the Seismological Society of America</em>, <em>109</em>(5), 1922–1934. <a href="https://doi.org/10.1785/0120180322">https://doi.org/10.1785/0120180322</a></p>
<h2 id="conference-presentations">Conference Presentations</h2>
<p>Fee, D., <strong>Toney, L. D.</strong>, Matoza, R. S., Sanderson, R. W., Haney, M., Lyons, J. J., Iezzi, A. M., Kim, K., De Angelis, S., Diaz Moreno, A., &amp; Jolly, A. D. (2019). A framework for improved infrasound back-projection on local and regional scales. Abstract S41E-0577 presented at <em>2019 AGU Fall Meeting</em>, San Francisco, CA, 9–13 Dec. (poster)</p>
<p><strong>Toney, L. D.</strong>, Fee, D., Allstadt, K., Haney, M., &amp; Matoza, R. S. (2019). A tale of two very large avalanches: Probing the limits of seismoacoustic avalanche characterization on Iliamna volcano, Alaska. Abstract S23D-0658 presented at <em>2019 AGU Fall Meeting</em>, San Francisco, CA, 9–13 Dec. (poster)</p>
<p><strong>Toney, L. D.</strong>, Fee, D., Haney, M., Matoza, R. S., &amp; Allstadt, K. (2019). Seismoacoustic insights from the May 22nd, 2016 Iliamna volcano rock and ice avalanche. Abstract 47 presented at <em>2019 SSA Annual Meeting</em>, Seattle, WA, 23–26 April. (poster)</p>
<p><strong>Toney, L. D.</strong>, Abbott, R. E., &amp; Preston, L. A. (2017). Joint body-and surface-wave tomography of Yucca Flat, Nevada. Abstract S33A-0854 presented at <em>2017 AGU Fall Meeting</em>, New Orleans, LA, 11–15 Dec. (poster)</p>
<p><strong>Toney, L. D.</strong>, Abbott, R. A., Knox, H. A., Preston, L. A., &amp; Hoots, C. R. (2016). Surface-wave tomography of Yucca Flat, Nevada. Abstract S51A-2744 presented at <em>2016 AGU Fall Meeting</em>, San Francisco, CA, 12–16 Dec. (poster)</p>
<h2 id="honors-awards">Honors &amp; Awards</h2>
<p><strong>Honorable Mention</strong><br />
John Hunter Excellence in Plotting Contest, SciPy 2020</p>
<p><strong>Distinction in the Senior Exercise</strong><br />
Physics Department, Pomona College</p>
<p><strong>Pomona College Scholar</strong><br />
Pomona College</p>
<p><strong>Tileston Physics Prize</strong><br />
Physics Department, Pomona College</p>
<h2 id="professional-affiliations">Professional Affiliations</h2>
<p><strong>American Geophysical Union</strong> | 2016–present</p>
<p><strong>Seismological Society of America</strong> | 2019–present</p>
<h2 id="service">Service</h2>
<p><strong>Referee</strong><br />
<em>Surveys in Geophysics</em></p>
<p><strong>Vice President</strong> | May 2020–present<br />
Geophysical Institute Graduate Student Association (GIGSA)</p>
<p><strong>Treasurer</strong> | April 2019–May 2020<br />
GIGSA</p>
<h2 id="technical-skills">Technical Skills</h2>
<p><strong>Coding</strong></p>
<ul>
<li>Python</li>
<li>MATLAB</li>
<li>R</li>
<li>Shell scripting</li>
<li>GMT</li>
<li>GDAL</li>
<li>LaTeX</li>
<li>Git</li>
<li>HTML + CSS</li>
</ul>
<p><strong>Software</strong></p>
<ul>
<li>ArcGIS</li>
<li>Adobe Illustrator + InDesign + Photoshop + Lightroom</li>
<li>GitHub</li>
<li>macOS</li>
<li>Windows</li>
</ul>
<h2 id="fieldwork">Fieldwork</h2>
<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 12%" />
<col style="width: 27%" />
<col style="width: 37%" />
<col style="width: 10%" />
</colgroup>
<thead>
<tr class="header">
<th style="text-align: left;"><strong>Date</strong></th>
<th style="text-align: left;"><strong>Duration</strong></th>
<th style="text-align: left;"><strong>Activity</strong></th>
<th style="text-align: left;"><strong>Location</strong></th>
<th style="text-align: left;"><strong>Role</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">July–August 2019</td>
<td style="text-align: left;">4 weeks</td>
<td style="text-align: left;">Seismic and infrasound station installation/maintenance</td>
<td style="text-align: left;">Adak/Atka/Chuginadak/Umnak islands, Alaska, USA</td>
<td style="text-align: left;">Assistant</td>
</tr>
<tr class="even">
<td style="text-align: left;">April 2018</td>
<td style="text-align: left;">1 day</td>
<td style="text-align: left;">Volcanic gas flux measurement</td>
<td style="text-align: left;">White Island, New Zealand</td>
<td style="text-align: left;">Assistant</td>
</tr>
<tr class="odd">
<td style="text-align: left;">April 2018</td>
<td style="text-align: left;">2 days</td>
<td style="text-align: left;">Microgravity survey</td>
<td style="text-align: left;">Mount Tongariro, New Zealand</td>
<td style="text-align: left;">Assistant</td>
</tr>
<tr class="even">
<td style="text-align: left;">February 2018</td>
<td style="text-align: left;">1 week</td>
<td style="text-align: left;">Seismic deployment</td>
<td style="text-align: left;">Southland, New Zealand</td>
<td style="text-align: left;">Assistant</td>
</tr>
<tr class="odd">
<td style="text-align: left;">July 2016</td>
<td style="text-align: left;">1 week</td>
<td style="text-align: left;">Active-source seismic survey</td>
<td style="text-align: left;">Nevada National Security Site, Nevada, USA</td>
<td style="text-align: left;">Assistant</td>
</tr>
</tbody>
</table>

<br>
<p style="text-align: right"><em>Last updated  9 July 2020</em></p>
