<h1 style="text-align: center;">Nicholas R. Hasson</h1>

<p style="text-align: center;">
  Email: <a href="mailto:nhasson@alaska.edu">nhasson@alaska.edu</a><br>
  Phone: <a href="tel:+13603058188">+1 206 512 7979</a><br>
  Web: <a href="https://nick.permafrost/">nick.permafrost</a>
</p>

<h2 id="education">Education</h2>
<p><strong>University of Alaska Fairbanks (UAF)</strong> | <em>Fairbanks, AK</em> | May 2024 (expected)<br />
Ph.D. in Geology</p>
<p><strong>University of Alaska Fairbanks</strong> | <em>Fairbanks, AK</em> | May 2020<br />
B.A. <em>Earth Science</em>concentration Earth Systems Science; minor in Political Science</p>
<p><strong>School for International Training</strong> | <em>Jaipur, Rajasthan, India</em> | August 2015–December 2015<br />
Sustainable Development and Social Change program</p>
<h2 id="research-experience">Research Experience</h2>
<p><strong>Institute of Northern Engineering</strong> | <em>Fairbanks, AK</em> | August 2020–present<br />
Graduate Research Assistant</p>
<p><strong>UAF Geophysical Institute</strong> | <em>Fairbanks, AK</em> | October 2018–present<br />
Student Assistant/Admin/Technician
